:root {
    --decoration-color: #5c4688fa;
    --color-hover: #1e1f80e6;
    --btn-projects: #1e1f80e6;
    --btn-bg-color: rgb(212, 50, 50);
}

/* reset */
p {
    font-size: 14px !important;
}

/* nav */
.nav-container {
    width: 100%;
}

.brand {
    width: 100%;
    padding: 0;
}

.brand .title-brand {
    margin: 10px 0 -16px 0 !important;
}

.brand h1 a {
    margin: 0;
    font-size: 3rem;
}

/* Menu */
.list-menu {
    display: none;
}

.header .header-content {
    margin: 0;
    width: 335px;
}

.header .header-info h3 {
    font-size: 15px !important;
    margin-top: 0 !important;
}

/* who */

.whoweare .who-title h2 {
    font-size: 4rem;
}

.whoweare .who-title {
    margin: 10px 30px;
}

/* line */

.showcase-line .showcase-info {
    width: 100%;
}

.showcase-line { 
    flex-direction: column;
}

.showcase-line .showcase-info p {
    padding: 5px;
}

.showcase-line .showcase-info h3 { 
    margin: 0;
}

.showcase-line .showcase-img { 
    width: 100%;
}

.showcase-line .showcase-img img { 
    margin: 0;
}

/* space */

.space {
    height: 50px;
}

/* COlors */
.showcase-colors {
    flex-direction: column;
}

.showcase-colors .showcase-img { 
    width: 100%;
}

.showcase-colors .showcase-info { 
    width: 100%;
    padding: 1rem;
}

.showcase-colors .showcase-info h3 {
    margin-top: 0;
}

.showcase-colors .showcase-info p {
    padding: 5px;
}

/* services */

/* home */
.services-icons .service-icon .card .face.face2.home .content h3 {
    top: 7px;
    font-size: 20px;
}


/* corporation */
.services-icons .service-icon .card {
    margin-top: 20px;
}

.services-icons .service-icon .card .face.face1 img {
    height: 200px;
}

.services .services-title {
    margin: 10px;
}

.services-icons { 
    flex-direction: column;
}

.services-icons .service-icon { 
    width: 100%;
}

.services-icons .service-icon > p { 
    margin: 0 0 36px;
}

.services .services-title .services-heading {
    font-size: 4rem; 
}

.services-icons .service-icon h2 { 
    margin: 0;
}

.services-icons .service-icon > p { 
    line-height: unset;
}

.services-icons .service-icon .card .face {
    width: 280px;
    height: 155px;
}

.services-icons .service-icon .card .face {
    width: 280px;
    height: 145px;
}

.services-icons .service-icon .card .face.face2 h3 {
    position: relative;
    top: -22px;
    font-size: 20px;
    margin-top: 20px;
}



/* Banner */
.banner { 
    flex-direction: column;
    height: 100%;
}

.banner div.banner-info { 
    width: 100%;
}

.banner .banner-info p { 
    animation: none;
    margin: auto;
    margin-top: 15px;
}

.banner .display-contact .btn-contact { 
    animation: none;
    margin: auto;
}

.btn-contact { 
    width: 100%;
    height: 60px;
}

.banner .display-contact {
    margin: 0;
    width: 100%;
}

.banner-info .parcel {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.banner-info .parcel i {
  color: #1ebea5;
}

.banner-info .parcel h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 10px 10px -6px;
    letter-spacing: 0.15rem;
    text-decoration: overline;
}

/* projects */
.gallery-title {
    font-size: 4rem;
    margin-bottom: 20px;
}

.filter-button {
    font-size: 10px;
    margin-bottom: 10px;
}

.filter-button:hover {
    font-size: 11px;
}

.gallery {
    margin-top: 25px !important;
}

.gallery_product .img-responsive {
    border: 5px solid #fff;
 }

/* contact */
.contact {
    padding: 10px;
}

.contact .contact-block .contact-text-info .contact-heading h1 {
    font-size: 4rem;
}

.contact .contact-block .contact-text-info .contact-heading p { 
    margin: 0;
}

.container-contact { 
    flex-direction: column;
}

.contact .container .contact-info { 
    width: 100%;
    margin: 0;
    border-bottom: 5px solid var(--decoration-color);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* address */
.container-contact .contact-info .address .address-img {
    width: 45px;
    margin: 8px;
}

.container-contact .contact-info .address .address-img i {
    font-size: 2rem;
 }

.container-contact .contact-info .address div > span {
    font-size: 1.2rem;
}

/* email */

.container-contact .contact-info .email .email-img {
    width: 45px;
}

.container-contact .contact-info .email {
    margin-left: 5px;
}

.container-contact .contact-info .email div > span {
    font-size: 1.4rem;
}

.container-contact .contact-info .email div {
    margin-top: 7px;
}

/* assign */
.container-contact .assign-text {
    margin-left: 28px;
    margin-top: 0px;
}

.contact .container .form { 
    width: 100%;
    margin: 20px 0 0 0;
    border-top: 5px solid var(--decoration-color);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.container-contact {
    margin-top: 25px;
}

/* textarea */
textarea {
    font-size: 17px;
}

/* Footer */

.footer .right-footer { 
    width: 50%;
    margin: 0;
}

.footer .left-footer { 
    width: 50%;
    padding: 0;
}

.footer .left-footer h1 {
    font-size: 15px;
}

.footer .left-footer h4 {
    margin: 0;
    font-size: 12px;
    position: absolute;
    bottom: 100px;
    left: 55px;
}

.footer .social-media {
    width: 160px !important;
    padding: 0;
}

.footer .social-media i {
    font-size: 1.8em;
}

.footer .copy {
    margin-left: -160px;
    margin-top: 20px;
}

.footer .dev {
    margin-left: -90px;
    margin-top: -4px;
}

.footer .dev a {
    cursor: pointer;
}