/* reset */
p {
    font-size: 14px !important;
}

/* nav */
.nav-container {
    width: 100%;
}

.brand {
    width: 100%;
    padding: 0;
}

.brand .title-brand {
    margin: 10px 0 -16px 0 !important;
}

.brand h1 a {
    margin: 0;
    font-size: 3rem;
}

/* Menu */
.list-menu {
    display: none;
}

.header .header-content {
    margin: 0;
    width: 335px;
}

.header .header-info h3 {
    font-size: 15px !important;
    margin-top: 0 !important;
}

/* who */

.whoweare .who-title h2 {
    font-size: 4rem;
}

.whoweare .who-title {
    margin: 10px 30px;
}

/* line */

.showcase-line .showcase-info {
    width: 100%;
}

.showcase-line { 
    flex-direction: column;
}

.showcase-line .showcase-info p {
    padding: 5px;
}

.showcase-line .showcase-info h3 { 
    margin: 0;
}

.showcase-line .showcase-img { 
    width: 100%;
}

.showcase-line .showcase-img img { 
    margin: 0;
}

/* space */

.space {
    height: 50px;
}

/* COlors */
.showcase-colors {
    flex-direction: column;
}

.showcase-colors .showcase-img { 
    width: 100%;
}

.showcase-colors .showcase-info { 
    width: 100%;
    padding: 1rem;
}

.showcase-colors .showcase-info h3 {
    margin-top: 0;
}

.showcase-colors .showcase-info p {
    padding: 5px;
}

/* services */

.services .services-title {
    margin: 10px;
}

.services-icons { 
    flex-direction: column;
}

.services-icons .service-icon { 
    width: 100%;
}

.services .services-title .services-heading {
    font-size: 4rem; 
}

.services-icons .service-icon h2 { 
    margin: 0;
}

.services-icons .service-icon > p { 
    line-height: unset;
}

/* Banner */
.banner { 
    flex-direction: column;
    height: 100%;
}

.banner div.banner-info { 
    width: 100%;
}

/* projects */
.gallery-title {
    font-size: 4rem;
    margin-bottom: 20px;
}

.filter-button {
    font-size: 10px;
    margin-bottom: 10px;
}

.filter-button:hover {
    font-size: 11px;
}

.gallery {
    margin-top: 10px !important;
}

/* contact */
.contact {
    padding: 10px;
}

.contact .contact-block .contact-text-info .contact-heading h1 {
    font-size: 4rem;
}

.contact .contact-block .contact-text-info .contact-heading p { 
    margin: 0;
}

.container-contact { 
    flex-direction: column;
}

.contact .container .contact-info { 
    width: 100%;
    margin: 0;
}

/* address */
.container-contact .contact-info .address .address-img {
    width: 45px;
    margin: 8px;
}

.container-contact .contact-info .address .address-img i {
    font-size: 2rem;
 }

.container-contact .contact-info .address div > span {
    font-size: 1.2rem;
}

/* email */
.container-contact .contact-info .email div > span {
    font-size: 1.4rem;
}

.contact .container .form { 
    width: 100%;
    margin: 0;
}

/* Footer */

.footer .right-footer { 
    width: 50%;
    margin: 0;
}

.footer .left-footer { 
    width: 50%;
    padding: 0;
}

.footer .left-footer h1 {
    font-size: 15px;
}

.footer .left-footer h4 {
    margin: 0;
    font-size: 12px;
    position: absolute;
    bottom: 100px;
    left: 55px;
}

.footer .social-media {
    width: 160px !important;
    padding: 0;
}

.footer .social-media i {
    font-size: 1.8em;
}

.footer .copy {
    margin-left: -160px;
    margin-top: 20px;
}

.footer .dev {
    margin-left: -90px;
    margin-top: -4px;
}